<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erpp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopupWindow.LoginAs"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SeatingArrangementTheme">
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/bglogin" />

        <activity android:name=".PopupWindow.RemoveSavedIdPass" />
        <activity
            android:name=".PopupWindow.NoticeFiles"
            android:label="@string/notices"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SeatingArrangementTheme" />
        <activity
            android:name=".PopupWindow.Contact"
            android:label="@string/admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SeatingArrangementTheme" />
        <activity
            android:name=".PopupWindow.EmailNotification"
            android:label="@string/email_notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SeatingArrangementTheme" />
        <activity
            android:name=".PopupWindow.SeatingArrangements"
            android:label="@string/app_name_seating_arrangements"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SeatingArrangementTheme" />
        <activity
            android:name=".Student"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:resizeableActivity="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".UnnessaryModules.NotificationCenter" />
    </application>

</manifest>